.product{cursor:pointer;border:2px solid #fff;}
.product-checked{border-color:#ff0000;}
.box{padding:20px 30px;border:1px solid #ccc;position:relative;}
.box-label{padding:0px 10px;position:absolute;display:inline-block;top:-15px; left:20px;background:#fff;font-weight:700;}
.box table{margin:0px;}
